<%= content_for :title, @book.title %>

<div class="max-w-screen-lg mx-auto my-8">
  <%= render 'books/breadcrumbs' %>
  <div class="bg-white overflow-hidden">
    <div class="md:flex">
      <div class="md:flex-shrink-0 relative">
        <div class="block md:hidden absolute inset-0 bg-gradient-to-b from-black/80 via-black/50 to-transparent h-1/4"></div>
        <div class="absolute left-3 top-3 block md:hidden">
          <%= link_to "â† Back to Books", root_path, class: "text-white hover:text-gray-200" unless hotwire_native_app? %>
        </div>
        <% if user_signed_in? %>
          <%= link_to "Review book", new_book_review_path(@book.slug), class: "absolute right-3 top-3 text-white hover:text-gray-200" %>
        <% end %>
        <%= image_tag @book.cover, class: "h-72 w-full object-cover md:w-48" %>
      </div>
      <div class="py-4 px-8">
        <div class="flex justify-between text-sm text-gray-500">
          <p>ISBN: <%= @book.isbn %></p>
          <p><%= @book.pages_count %> pages</p>
        </div>
        <h1 class="text-3xl font-bold text-gray-900"><%= @book.title %></h1>
        <p class="text-lg text-gray-500 mb-4">by <%= @book.author_name %></p>
        
        <div class="mb-4">
          <p class="text-gray-500 font-light italic"><%= @book.excerpt %></p>
        </div>
        
        <div class="mb-6">
          <h2 class="text-base font-semibold text-gray-800 mb-2">Description</h2>
          <p class="text-gray-600"><%= @book.description %></p>
        </div>
      </div>
    </div>
    <div class="flex flex-col px-6">
      <h2 class="text-base font-semibold text-gray-800">Reviews</h2>
      <% if @book.reviews.any? %>
        <ul class="divide-y divide-gray-200">
          <% @book.reviews.each do |review| %>
            <%= render "reviews/review", review: review %>
          <% end %>
        </ul>
      <% else %>
        <p class="text-gray-500 text-base">No reviews yet. Be the first to review this book.</p>
      <% end %>
    </div>
  </div>
</div>